// Specific CSS for your home-page

.banner img {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 60vh;
  width: 40vw;
  // background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}


