// Specific CSS for your home-page

.banner img {
  // background-repeat: no-repeat;
  // background-position: center;
  // border-radius: 10px;
  height: 60vh;
  width: 33vw;
  object-fit: cover;
  // background-size: cover;
  // justify-content: center;
  // align-items: center;
  // display: flex;
  // margin: auto;
  // background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}


@media (max-width: 480px) {
  .banner img {
    width: 95vw;
    height: 60vh;
    object-fit: cover;
  }
}
