<%= simple_form_for ([@bike, @booking]) do |f| %>
<%= f.input :start_date, as: :date, order: [:day, :month, :year] %>
<%= f.input :end_date, as: :date, order: [:day, :month, :year] %>
<br>
<div style="display: flex; justify-content: center; align-items: center;">
  <%= f.submit 'Book bike', { class: "home-button" } %>
</div>
<% end %>
