

<div class="container" style="width: 100vw; height: 80vh;">
  <div class="row">
    <div class="col-6 col-8 col-12">


        <div style= "display:  flex; flex-direction: column; justify-content: center; align-items: center;">

          <div style= "width: 100vw;">
            <div class= "banner">

            <%= image_tag 'bike_city_banner.jpg' %>
            <br>
          </div>
          </div>




          <div style= "width: 100vw; text-align: center;">
            <h1>Headline text</h1>
            <h4>Some descriptive text</h4>
            <br>
            <%= link_to 'Book a bike', bikes_path, class: "home-button" %>
            <!-- <button class="home-button">Book a bike</button> -->
            &nbsp;
            <%= link_to 'List a bike', new_bike_path, class: "home-button" %>
            <!-- <button class="home-button">List a bike</button> -->
          </div>



        </div>









    </div>
  </div>
</div>




