
<div class="container" style="width: 100vw; height: 90vh;">
  <div class="row">
    <div class="mt-3 col-sm">


      <div style= "display:  flex; flex-direction: column; justify-content: center; align-items: center;">

        <div style= "width: 100vw;">
          <div class= "banner img-fluid text-center">

            <%= image_tag('bike_ride.svg') %>
          </div>
        </div>

        <div class= "mt-3" style= "width: 100vw; text-align: center;">
          <h2>Book your dream bike</h2>
          <p>We offer bikes of every hue and shade for you to explore the city</p>
          <br>
          <%= link_to 'Book a bike', bikes_path, class: "home-button", style: 'text-decoration: none' %>
          <!-- <button class="home-button">Book a bike</button> -->
          &nbsp;
          <%= link_to 'List a bike', new_bike_path, class: "home-button", style: 'text-decoration: none' %>
          <!-- <button class="home-button">List a bike</button> -->
        </div>


      </div>


    </div>
  </div>
</div>




