

<div class="container-fluid" style="padding: 20px;">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-lg-6">


      <div>
        <div class = "split left">
          <div class = "centered">
            <h1>Landing page headline</h1>
            <p>Descriptive text</p>
            <%#= link_to 'Book a bike', bike_path, class: 'home-button' %>
            <%#= link_to 'List a bike', bike_path, class: 'home-button' %>

            <div style= "display: inline-block;">
             <button class="home-button" >Book a bike</button>
             &nbsp;
             <button class="home-button" >List a bike</button>
           </div>


         </div>
       </div>

       <div class = "split right">
        <div >

        </div>
      </div>







    </div>
  </div>
</div>




