


<div class="container">
  <h1 class="mb-4" style= "text-align:center">These are all our bikes</h1>
  <div class="row row-cols-1 row-cols-md-3">


      <% @bikes.each do |bike| %>

      <div class="col mb-4">

        <div class="card">

          <div>
            <%= cl_image_tag bike.photo.key, class: "card-img-top"  %>
          </div>


          <div class="card-body">

            <div class="card-text" style="display:flex; align-items: baseline;">

             <div style="font-size: 26px;">
              🚲
            </div>

            &nbsp;

            <div>
              :
            </div>

            &nbsp; &nbsp; &nbsp;

            <div>
              <p> <%= bike.bike_category %> </p>
            </div>

          </div>

          <div class="card-text" style="display:flex; align-items: baseline;">

           <div style="font-size: 26px;">
            💰
          </div>

          &nbsp;

          <div>
            :
          </div>

          &nbsp; &nbsp; &nbsp;

          <div>
            <p> <%= bike.rate_per_day %> </p>
          </div>

        </div>

      </div>
      <div class="card-footer">
        <small class="text-muted">
          <%= link_to 'See more details about this bike', bike_path(bike) %>
        </small>
      </div>

    </div>
  </div>

  <% end %>


</div>
</div>






