
<h1>These are all our bikes</h1>

<% @bikes.each do |bike| %>

  <h2><%= bike.bike_category %></h2>
  <h2><%= bike.frame_size %></h2>
  <h2><%#= bike.description %></h2>
  <h2><%#= bike.rate_per_day %></h2>
  <%= cl_image_tag bike.photo.key %>

<% end %>



