
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-6 col-8 col-12" >


        <div class= "center-form" style = "width: 50vw; text-align: center;">
          <h2> Join our community!</h2>
          <p>List your bike for free. No hidden charges.</p>
        </div>

        <br>

        <div class= "center-form" style = "width: 45vw;">
          <%= render "form", bike: @bike %>
        </div>

        <br>

    </div>
  </div>
</div>
