
.home-button {
  color: black;
  border: 2px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.home-button:hover {
  opacity: 1;
  color: black;
  border-color: black;
  background-color: #e6e6e6;
}


.index-button {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 110px;
  text-align: center;
  // vertical-align: middle;
  font-size: 16px;
  // background-color: lightgrey;
}

.index-button:hover {
  opacity: 1;
  color: grey;
  border-color: grey;
  // background-color: lightgrey;
}

.clicked {
  color: red;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 110px;
  text-align: center;
  background-color: #e6e6e6;
}
