// .card:hover {
//   box-shadow: 0 1px 1px rgba(0,0,0,0.15),
//               0 2px 2px rgba(0,0,0,0.15),
//               0 4px 4px rgba(0,0,0,0.15),
//               0 8px 8px rgba(0,0,0,0.15);
// }

.card-index:hover {
  transform: scale(1.02);
}

.card-index-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.card-show-img-top {
    width: 100%;
    height: 55vh;
    object-fit: fit;
}

// .card-show-right {
//       width: 60%;
//     }


@media (max-width: 480px) {
  .card-show-img-top {
    width: 100%;
    height: 45vh;
    object-fit: fit;
  }
}

// @media (min-width: 992px) {
//     .card-show-right{
//         width: 60%;
//     }
// }

// @media screen and (min-width: 992px) {
//   div.card {
//     width: 60%;
//   }
// }

@media (max-width: 480px) {
  .card-log-in {
    width: auto;
  }
}

@media (min-width: 992px) {
  .card-log-in {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .card-sign-up {
    width: auto;
  }
}

@media (min-width: 992px) {
  .card-sign-up {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .card-password {
    width: auto;
  }
}

@media (min-width: 992px) {
  .card-password {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .card-list {
    width: auto;
  }
}

@media (min-width: 992px) {
  .card-list {
    width: 40%;
  }
}
